body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Century gothic";
}
#potpis{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 80px;
    background-color: white;
    display: block;
}
#levaSlika, #glavnaSlika{
    width: 60px;
    height: 80px;
}
#linkovi{
    width: fit-content;
    height: fit-content;
    margin-top: -4ex;
    margin-left: 1.8ex;
}
#linkovi img{
    width: 0.8ex;
    height: 0.8ex;
}
#eestecLink{
    color: #e52a30;
    font-size: 0.2rem;
    text-decoration: none;
    display: block;
    margin-left: 0.2ex;
    margin-top: -1.5ex;
    text-align: center;
}
#podaci{
    width: fit-content;
    margin-top: -9ex;
    margin-left: 7.5ex;
}
#podaci p{
    margin: 0;
}
.mail img{
    width: 0.8ex;
    height: 0.8ex;
    display: inline-block;
}
.mailText{
    text-decoration: underline;
    color: #333333;
    font-size: 0.3rem;
    display: block;
    margin-top: -4ex;
    margin-left: 3ex;
}
#kont2, #kont3{
    margin-top: -0.4ex;
}
#kont3 p{
    font-size: 0.3rem;
    color: #333333;
}